<div class="command <%= obj.direction %>"
     style="left: <%= obj.left %>%; top: <%= obj.top %>em; right: <%= obj.right %>%;">
    <span class="name"><%= obj.name %></span>
    <span class="animated-arrow"></span>
</div>
